@page "/"

<PageTitle>Event sections</PageTitle>

<LoadingContent IsLoadingFinish="@_isLoadingFinish">
  @foreach (var eventSection in _eventSections)
  {
    <p>Id: @eventSection.Id</p>
    <p>Наименование: @eventSection.Name</p>
    <p>Описание: @eventSection.Description</p>
    <p>Порядок следования: @eventSection.Order</p>
    <button type="button" @onclick="@(() => NavigateToSectionCategories(eventSection.Id))">Перейти в категории раздела</button>
    <hr />
  }
</LoadingContent>